body{ padding-top:5em; font-family: 'Poppins', sans-serif;background-color: #0d1414 !important;}
.bg-dark{background-color: black !important;}
.nav-item a{ color:white; line-height: 2em;}

.p-4 h5 { text-align: center;}
.header{background-color: black;}
.headerImage{padding-top: 2.8em; border-radius: 0.2em;}
.headingAboutMe{border-radius: 0.6em;}
.headingAboutMe h1{color: white; text-align: center; padding-top: 0.5em;}
.headingAboutMe p {color: white; padding-top: 1.5em;}
.headingAboutMe blockquote {color: white; padding-top: 1.5em;text-align: center;font-style: italic;text-decoration: underline;font-size: 1.15em;}
